.container{
    margin-bottom: 100px;
}
.orange-bg{

    background-color: rgb(239, 204, 210);
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.biy-now-button{
    background-image:linear-gradient(to bottom,#ff589B 0%,#ff136f 100%);
    color: #fff;
    border: none;
     
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1{
    background-image:linear-gradient(to bottom,#342f1c 0%,#f0e406 100%);
}
.cat2{
    background-image:linear-gradient(to bottom,#ef4806 0%,#562601 100%);
}
.cat3{
    background-image:linear-gradient(to bottom,#761f4c 0%,#f606be 100%);
}
.cat1 , .cat2 , .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.catagoris h1{
    color: #fff;
}
.catagoris img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: #fff;
    border-top: none;
}
#Subscribe{
    height: 200px;
}
#Subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}